@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family:'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
/* some variables */
:root{
    --main-color:#ff2c1f;
    --text-color:#020307;
    --bg-color:#fff;
}
/* custom Scroll bar */
html::-webkit-scrollbar{
    width: .5rem;
    background: var(--text-color);
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}

body{
    background: var(--text-color);
    color: var(--bg-color);
}
section{
    padding: 4.5rem 0 1.5rem;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: .5s;
    z-index: 111999;
    /* background-color: var(--main-color); */
}
header.shadow{
    background: rgba(249, 250, 251, 0.9);
    box-shadow: 0 0 4px rgb(14 55 54 /15%);
    
}
header.shadow .navbar a{
    color: var(--text-color);
}
header.shadow .logo {
    color: var(--text-color);
}
.logo{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--bg-color);
    display: flex;
    align-items: center;
    column-gap: .5rem;
}
.logo-clapperboard{
    font-size: 2rem;
    color: var(--main-color);
}
.navbar{
    display: flex;
    column-gap: 5rem;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color:var(--bg-color)
}
.navbar a::after{
    content: '';
    width: 0;
    height: .1rem;
    background:var(--main-color);
    position: absolute;
    bottom: -.3rem;
    left: 0;
    transition: .2s all linear;
}
.navbar a:hover::after, .navbar .active::after{
    width: 100%;
}
#menu-icon{
    font-size: 10rem;
    cursor: pointer;
    z-index: 1000000;
    display: none;
}

.btnin , .btnup ,.swiper-slide-text-btn{
    padding: .7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: .5rem;
}
.btn .btnin:hover,
.btn .btnup:hover{
    background: #ef0b0f;
}
.container{
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
    background: rgb(2,3,7,0.4);
}
.container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}
.swiper-pagination-bullet{
    width: 6px !important;
    height: 6px !important;
    border-radius: .2rem !important;
    background: var(--bg-color) !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active{
    width: 1.5rem !important;
    background: var(--main-color) !important;
}
.swiper-slide-text{
    z-index: 1000;
    padding: 0 150px;

}
.swiper-slide-text span{
    color: var(--bg-color);
    font-weight: 500;
    text-transform: uppercase;
}
.swiper-slide-text-heading{
    color: var(--bg-color);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.swiper-slide-text-play{
    position: absolute;
    right: 4rem;
    bottom: 10%;
}
.swiper-slide-text-play i{
    background: var(--bg-color);
    padding: 12px 0 15px 15px;
    font-size: 1.5rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: 1px solid rgba(2,3,7,0.4);
    color: var(--main-color);

}
.swiper-slide-text-play i:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s all linear;
}
/* Movie */
.movies-heading{
    max-width: 986px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--main-color);
}
.movies-container{
    max-width: 968px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 1rem;
    margin-top: 2rem;
}
.movies-container-box-img{
    width: 100%;
    height: 270px;
}
.movies-container-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movies-container-box-img img:hover{
    transform: translateY(-10px);
    transition: .2s all linear;
}
.movies-container-box h3{
    font-size: .9rem;
    font-weight: 500;
}
.movies-container-box span{
    font-size: 13px;
}
.coming-container{
    display: grid;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.coming-container .movies-container-box-img img:hover{
    transform: translateY(0);
}
.coming-container .movies-container-box{
    width: 100px;
} 
/* Newsletter */
.newsletter{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}
.newsletter-heading{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;

}
.newsletter form{
    background: var(--bg-color);
    padding: 10px;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    
}
.newsletter form input{
    border: none;
    outline: none;
}
.newsletter form .email{
    width: 280px;
}
.newsletter form input::placeholder{
    color: var(--text-color);
    font-size: .8rem;
    font-weight: 400;
}
.newsletter form .newsletter-btn{
    padding: 0.7rem 1.2rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: .5rem;
    width: 8rem;
    height: 3rem;
    font-size: 1rem;
    text-align: center;
    border-bottom: 5px solid #d9090c;
    cursor: pointer;
}
.newsletter form .newsletter-btn:hover{
    background-color: #d9090c;
    border-bottom: 5px solid var(--main-color);
}
/* Footer */
.footer{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.footer-social{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}
.footer-social i{
    background-color: var(--bg-color);
    padding: 2px;
    font-size: 2rem;
    border-radius: 50%;
    border:4px solid rgb(2,3,7,0.4);
    color: var(--main-color);
}
.footer-social i:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transition: .2s all linear;
}





@media(max-width:1080){
    .swiper-slide-text{
        padding: 0 100px;
    }
}
@media (max-width : 991px){
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
    .swiper-slide-text h1{
        font-size: 3rem;
    }
}
@media(max-width:831px){
   
    .navbar{
        display: flex;
        column-gap: 1rem;
        justify-content: center;
    }
}
@media (max-width:675px){
   
    header{
        padding: 12px 4%;
    }
    #menu-icon{
        display: initial;
        color: var(--bg-color);
        font-size: 1.5rem;
        text-align: center;
        align-items: center;
        margin-left: 80px;
        
    }
    .header.shadow , .shadow #menu-icon {
        color: var(--text-color);
    }
    
    .navbar{
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 2.3rem;
        box-shadow: 4px 4px 0 4px rgb(14 55 54 /15%);
        transition: .2s all linear;
        text-align: center;
        align-items: center;
        height: 15rem;
        

    }
    .navbar li a{
        color: var(--text-color);
        font-weight: 400;
        width: 100%;
       
        
    }
    .navbar li a:hover{
        color: var(--main-color);
        font-weight: 400;
        border-bottom: 1px solid var(--main-color);
        
    }
    .navbar li a::after{
        display: none;
    }
    .navbar.active{
        top: 100%;
       
    }
    .swiper-slide-text-heading{
        font-size: 2rem;
    }
    .swiper-slide-text-btn{
        padding: 0.6rem 1.2rem;
    }
    .movies-container{
        grid-template-columns: repeat(auto-fit,minmax(160px, auto));
    }
}
@media (max-width:500px ){
    .newsletter form {     
        width: 22rem;
    }
    #menu-icon{
        margin: 0 .5rem 0 1rem;
    }
    .navbar .btn .btnin, .navbar .btn .btnup{
        width: 5rem;
    }
    .swiper-slide-text h1{
        font-size: 2rem;
    }
    .movies-container{
        grid-template-columns: repeat(auto-fit,minmax(160px, auto));
    }
    .swiper-slide-text{
        font-size: .8rem;
        padding: 0 12px;
    }

}
@media( max-width:365px){
    .header{
        padding: 6px 4%;
    }
    .newsletter form {     
        width: 20rem;
    }
    #menu-icon{
        margin: 0 .5rem 0 .5rem;
        width: 2rem;
    }
    .navbar .btn {
       width: 30px;
    }
    .movies-container{
        grid-template-columns: repeat(auto-fit,minmax(140px, auto));
    }
    .swiper-slide-text{
        font-size: .8rem;
        padding: 0 12px;
    }
    .swiper-slide-text h1{
        font-size: 2rem;
   
    }
    .swiper-slide-text-play{
        right: 2rem;
        bottom: 8%;
    }
    .swiper-slide-text-play i{
        padding: 7px;
    }
    .movies-container-box-img{
        height: 240px;
    }

}